@font-face {
  font-family: GROUPE;

  src: local("GROUPE MEDIUM"),
    url("../fonts/GroupeMedium-8MXgn.woff") format("woff");
}

.GROUPE {
  font-family: GROUPE;
}

@font-face {
  font-family: COCO;
  src: url("../fonts/CocoGothic-Bold.woff") format("woff");
}

.COCO {
  font-family: COCO;
}

body {
  font-size: 20px;
  background-color: black;
  max-height: 100vh;
  overflow: hidden;
}
body::-webkit-scrollbar {
  display: none;
}

#fname::placeholder {
  /* Placeholder text color */
  font-style: italic;
  font-weight: bold; /* This will not work as expected for placeholder */
  color: white;
  font-size: 20px;
}

.gradient {
  background: linear-gradient(140deg, rgb(0, 0, 0) 30%, rgb(75, 130, 153) 100%);
}
.gradient-box {
  background: linear-gradient(140deg, rgb(0, 0, 0) 0%, rgb(75, 130, 153) 100%);
}
